<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.zjl.library.dao.OrderBookDao">
    <select id="selectByCondition" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
        SELECT
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        FROM order_book
        WHERE 1 = 1
            <if test="record.id != null">
            AND
            id = #{record.id}
        </if>
        <if test="record.orderId != null">
            AND
            order_id = #{record.orderId}
        </if>
        <if test="record.bookId != null">
            AND
            book_id = #{record.bookId}
        </if>
        <if test="record.number != null">
            AND
            number = #{record.number}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.note != null">
            AND
            note = #{record.note}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <select id="selectByConditionGetCount" resultType="java.lang.Integer" parameterType="java.util.Map">
        SELECT
        count(*)
        FROM order_book
        WHERE 1 = 1
            <if test="record.id != null">
            AND
            id = #{record.id}
        </if>
        <if test="record.orderId != null">
            AND
            order_id = #{record.orderId}
        </if>
        <if test="record.bookId != null">
            AND
            book_id = #{record.bookId}
        </if>
        <if test="record.number != null">
            AND
            number = #{record.number}
        </if>
        <if test="record.createTime != null">
            AND
            create_time = #{record.createTime}
        </if>
        <if test="record.modifyTime != null">
            AND
            modify_time = #{record.modifyTime}
        </if>
        <if test="record.note != null">
            AND
            note = #{record.note}
        </if>

        <include refid="custom_condition"/>
        <if test="start != null and rows != null">
            LIMIT #{start}, #{rows}
        </if>
    </select>
    <delete id="deleteByIdsList" parameterType="java.util.Map">
        delete from order_book
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </delete>
    <select id="selectByIdsList" resultMap="ResultMapWithBLOBs" parameterType="java.util.Map">
        select
        <include refid="Base_Column_List"/>
        ,
        <include refid="Blob_Column_List"/>
        from order_book
        where id in
        <foreach collection="list" item="item" index="index" open="(" close=")" separator=",">
        #{item}
        </foreach>
    </select>
    <select id="insertBatch" parameterType="java.util.Map">
        insert into order_book
        (order_id, book_id, number, create_time, modify_time, note) values
        <foreach collection="list" item="item" index="index" separator=",">
            (#{item.orderId}, #{item.bookId}, #{item.number}, #{item.createTime}, #{item.modifyTime}, #{item.note})
        </foreach>
    </select>
</mapper>
